In [1]:
import os
import mysql.connector

In [2]:
class Archivo_Txt:
    def __init__(self,ruta):
        self.ruta = ruta
    def apertura_txt(self, archivo_txt):
        with open(self.ruta+archivo_txt,'r') as file: #self.ruta/arch                                                     ivo_txt
            file_source = file.readlines()
        return file_source
    def procesado_txt(self, archivo_txt):
        lista_source = [archivo_txt]
        file_limpio = []
        for lista in lista_source:
            for campo in lista:
                file_limpio.append(campo.replace("\n", "").replace("null", "NULL").replace("<","under").replace("   "," ").replace("  "," ").replace(" ,",",").strip())
        return file_limpio
    def creacion_tabla_txt(self, archivo_txt):
        lista_tupla = []
        for linea in archivo_txt:
            lista_tupla.append(tuple(linea.split(";")))
        return lista_tupla
    def insercion_datos(self):
        cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='adalab')
        mycursor = cnx.cursor()
        sql = """INSERT INTO txt (index_txt, q3, q4, q5, q6, q7, q8, q9, q11, q12, q13, q14, q15, q16, q17,
                                q20, q21, q22, q23, q24, q25, q26, q32, q33, q34, q35, q41)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        val = self.creacion_tabla()
        try:
            mycursor.executemany(sql, val)
            cnx.commit()
            print(mycursor.rowcount, "registro/s insertado/s.")
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

In [3]:
archivotxt = Archivo_Txt("/mnt/c/Users/crist/Adalab/mÃ³dulo1/promoE-modulo1-proyecto-equipo3-AnaAnaLourdesCris/data")

In [4]:
apertura = archivotxt.apertura_txt("/data_txt.txt")

In [5]:
procesado = archivotxt.procesado_txt("/data_txt.txt")

In [7]:
creartablas = archivotxt.creacion_tabla_txt("/data_txt.txt")

In [9]:
insertardatos = archivotxt.insercion_datos()

InterfaceError: 2003: Can't connect to MySQL server on '127.0.0.1:3306' (111 Connection refused)

In [6]:
class Archivo_Xml:
    def __init__(self,ruta):
        self.ruta = ruta
    def apertura_xml(self,archivo_xml):
        tree = ET.parse(self.ruta+archivo_xml)
        root = tree.getroot()
        xml_list = []
        for child in root:
            xml_dict = {}
            for subchild in child:
                xml_dict[subchild.tag] = subchild.text
            xml_list.append(xml_dict)
        return xml_list
    def procesado_xml(self,archivo_xml):
        for fila in xml_list:
            if fila['gender'] == '0':
                fila['gender'] = 'Man'
            elif fila['gender'] == '1':
                fila['gender'] = 'Woman'
            elif fila['gender'] == '2':
                fila['gender'] = 'Nonbinary'
            elif fila['gender'] == '3':
                fila['gender'] = 'Prefer not to say'
            elif fila['gender'] == '4':
                fila['gender'] = 'Prefer to self-describe'
        for fila in xml_list:
            if 'level_0' in fila:
                fila.pop('level_0')
            else:
                pass
        return xml_list
    def creacion_tabla(self,archivo_xml):
        lista_tupla = []
        for linea in archivo_xml:
            lista_tupla.append(tuple(linea.values()))
        return lista_tupla
    def insercion_datos(self):
        cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='adalab')
        mycursor = cnx.cursor()
        sql = """INSERT INTO xml (index_xml, time, age, gender)
                VALUES (%s, %s, %s, %s)"""
        val = self.creacion_tabla()
        try:
            mycursor.executemany(sql, val)
            cnx.commit()
            print(mycursor.rowcount, "registro/s insertado/s.")
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)